nav {
    a.Logo {
        align-items: start;
    }
}

.FileSizeColumn {
    white-space: nowrap;
}

.ForceMenuIconDefaultColor {
    color: var(--on-surface) !important;
}

.actions-popover {
    flex-direction: column;

    &:popover-open {
        display: flex
    }
}
