@import "vars";

body {
    .TotpHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.75rem;
        line-height: 1.4rem;

        h1 {
            color: $text-color;
            font-size: 1.2rem;
            font-weight: bold;
        }

        p {
            color: $text-secondary;
            font-size: 0.9rem;
            line-height: 1.2rem;
        }
    }

    .TotpQrWrapper {
        display: flex;
        height: 10rem;
        justify-content: center;

        img {
            border-radius: $border-radius;
            max-height: 100%;
            max-width: 100%;
            align-self: center;
        }
    }

    .TotpSecret {
        padding: 0.25rem 0.15rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        summary {
            color: $primary-light;
            cursor: pointer;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }
        }

        .RecoveryCodes {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            margin-top: 1rem;
        }

        pre {
            background-color: $item-background-color;
            border: 1px dashed $border-color;
            margin-top: 0.75rem;
            margin-left: auto;
            margin-right: auto;
            padding: 0.4rem 0.8rem;
            width: fit-content;
            border-radius: $border-radius;
            color: $text-secondary;
            user-select: all;

            code {
                font-family: monospace;
                font-size: 1rem;
            }
        }
    }
}
