.Page {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .Form {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 1em;

        .Logo {
            width: 200px;
            height: 100px;
            margin-left: 4px;
            fill: white;
        }
    }
}
