{% import "macros.html" as macros %}
{% extends "base_secure.html" %}

{% block content %}

<style>{{ crate::scss::files_home::STYLE_SHEET }}</style>
<main>
    {% match parent_directory_url %}
    {% when Some with (link_data) %}
        <a href="{{ link_data.parent_directory_url }}" class="">
            <i class="small">chevron_left</i>
            {{ link_data.current_directory_name }}
        </a>
    {% when None %}
    {% endmatch %}

    <form
        id="{{ FilesHomeElementId::FileUploadForm.to_str() }}"
        hx-post="{{ file_upload_url }}"
        enctype="multipart/form-data"
        hx-swap-oob="true"
    >
        <input type="file" name="upload" />
        <input type="submit" value="Upload" />
    </form>

    {% if dir_content.is_empty() %}
    {% else %}
    <table
        class="{{ crate::scss::files_home::ClassName::TEST }}"
        id="{{ FilesHomeElementId::FileStorageTable.to_str() }}"
    >
        <thead>
            <tr>
                <th class=""></th>
                <th>Name</th>
                <th class="">Size</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody id="{{ FilesHomeElementId::FileStorageTableBody.to_str() }}">
            {% for dir_item in dir_content %}
                <tr>
                    {% include "files_home/file_storage_table_row_content.html" %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock %}
