{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block content %}

{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/files_home.scss") %}

<style>{{ style_sheet }}</style>
<nav class="left m l small-text">
    <header></header>
    <a class="active">
        <i>home</i>
        <div>My Files</div>
    </a>
</nav>
<nav class="top surface">
    <a class="{{ class_name.logo }}" href="{{ crate::handler::routes::GetFilesHomePage::route_path() }}">
        {% call macros::logo("top-bar-logo") %}
    </a>
    <div class="max"></div>
    <button class="circle large transparent" data-ui="#menu-settings">
        <i>settings</i>
        <menu class="left no-wrap" id="menu-settings">
            <a href="{{ crate::handler::routes::GetLogoutAction::route_path() }}">
                <div>Log out</div>
            </a>
        </menu>
    </button>
</nav>

<main class="responsive max">
    <table class="medium-space">
        <thead>
            <tr>
                <th>Name</th>
                <th class="min">Size</th>
                <th class="min"></th>
            </tr>
        </thead>
        <tbody>
            <!-- {% match dir_item.content %} -->
            <!-- {% when Some with (dir_item_content) %} -->
                <tr class="padding surface-container wave">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr class="padding surface-container wave">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
                <tr class="padding surface-container wave">
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                </tr>
            <!-- {% endmatch %} -->
        </tbody>
    </table>
</main>
{% endblock %}
