{% import "macros.html" as macros %}
{% extends "shared/base_insecure.html" %}

{% block content %}

<main class="{{ crate::scss::login::ClassName::PAGE }}">
    <style>{{ crate::scss::login::STYLE_SHEET }}</style>

    <form class="{{ crate::scss::login::ClassName::FORM }}" hx-post="{{ crate::handler::routes::PostLoginAction.to_string() }}">
        {% call macros::logo(crate::scss::login::ClassName::LOGO) %}

        <div>
            <div class="">
                <input name="username" required>
                <label>Username</label>
            </div>
            <div class="">
                <input name="password" required>
                <label>Password</label>
            </div>

            <div class="{# { crate::scss::login::ClassName::BUTTON_GROUP } #}">
                <a class="" href="{{ crate::handler::routes::GetRegisterPage.to_string() }}">Register</a>
                <button class="" type="submit">Login</mdui-button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
