{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block content %}

{% let (style_sheet, class_name) = turf::style_sheet_values!("scss/login.scss") %}

<style>{{ style_sheet }}</style>

<div class="{{ class_name.page }}">
    <form class="{{ class_name.form }}" hx-post="/login">
        <mdui-top-app-bar-title>
            {% call macros::logo(class_name.logo) %}
        </mdui-top-app-bar-title>

        <div class="{{ class_name.form_content }}">
            <mdui-text-field label="Username" name="username"></mdui-text-field>
            <mdui-text-field label="Password" name="password"></mdui-text-field>

            <div class="{{ class_name.button_group }}">
                <mdui-button variant="tonal">Register</mdui-button>
                <mdui-button type="submit">Login</mdui-button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
