{% import "macros.html" as macros %}
{% extends "shared/base_insecure.html" %}

{% block content %}

<main class="{{ crate::scss::register::ClassName::PAGE }}">
    <style>{{ crate::scss::register::STYLE_SHEET }}</style>

    <form
        class="{{ crate::scss::register::ClassName::FORM }}"
        hx-post="{{ crate::handler::routes::PostRegisterAction.to_string() }}"
    >
        {% call macros::logo(crate::scss::register::ClassName::LOGO) %}

        <div>
            <div>
                <label>Username</label>
                <input name="username" required>
            </div>
            <div>
                <label>Password</label>
                <input name="password" required>
            </div>

            <div>
                <a class="button border large" href="{{ crate::handler::routes::GetLoginPage.to_string() }}">I already have an account</a>
                <button type="submit">Register</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}
