{% if dir_content.is_empty() %}
{% else %}
    <table>
        <thead>
            <tr>
                <th class=""></th>
                <th>Name</th>
                <th class="">Size</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            {% for dir_item in dir_content %}
                <tr hx-target="this">
                    <td>
                        <i class="">{{ dir_item.kind.icon() }}</i>
                    </td>
                    <td>
                        {% match dir_item.kind %}
                        {% when StorageItemPresentationKind::Directory with { url } %}
                            <a href="{{ url }}">
                                {{ dir_item.name }}
                            </a>
                        {% when StorageItemPresentationKind::File %}
                                {{ dir_item.name }}
                        {% endmatch %}
                    </td>
                    <td class="{{ crate::scss::files_home_page::ClassName::FILE_SIZE_COLUMN }}">
                        {{ dir_item.size }}
                    </td>
                    <td>
                        <button onclick="openPopoverById('{{ dir_item.actions_popover_id }}')">...</button>
                        <dialog
                            popover
                            id="{{ dir_item.actions_popover_id }}"
                            class="{{ crate::scss::files_home_page::ClassName::ACTIONS_POPOVER }}"
                        >
                            <h1>{{ dir_item.name }}</h1>

                            <hr />

                            <button onclick="openPopoverById('{{ dir_item.actions_move_popover_id }}')">
                                Move
                            </button>
                            <dialog
                                popover
                                id="{{ dir_item.actions_move_popover_id }}"
                                class="{{ crate::scss::files_home_page::ClassName::ACTIONS_POPOVER }}"
                            >
                                <form
                                    hx-post="{{ dir_item.move_url }}"
                                    hx-target="this"
                                >
                                    {{ dir_item.path }}
                                    <input type="text" name="destination_path" value="{{ dir_item.path }}" />
                                    <button>Move</button>
                                    <button 
                                        type="button"
                                        onclick="closeClosestPopover(this)"
                                    >
                                        Cancel
                                    </button>
                                </form>
                            </dialog>

                            <a
                                href="{{ dir_item.download_url }}"
                                onclick="closeClosestDialog(this)"
                            >
                                Download
                            </a>
                            <button
                                hx-get="{{ dir_item.delete_url }}"
                                onclick="closeClosestDialog(this)"
                            >
                                Delete
                            </button>

                            <button onclick="closeClosestPopover(this)">close</button>
                        </dialog>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
