{% if dir_content.is_empty() %}
{% else %}
    <table class="{{ crate::scss::files_home_page::ClassName::TEST }}">
        <thead>
            <tr>
                <th class=""></th>
                <th>Name</th>
                <th class="">Size</th>
                <th class=""></th>
            </tr>
        </thead>
        <tbody>
            {% for dir_item in dir_content %}
                <tr hx-target="this">
                    <td>
                        <i class="">{{ dir_item.kind.icon() }}</i>
                    </td>
                    <td>
                        {% match dir_item.kind %}
                        {% when StorageItemPresentationKind::Directory with { url } %}
                            <a href="{{ url }}">
                                {{ dir_item.name }}
                            </a>
                        {% when StorageItemPresentationKind::File %}
                                {{ dir_item.name }}
                        {% endmatch %}
                    </td>
                    <td class="{{ crate::scss::files_home_page::ClassName::FILE_SIZE_COLUMN }}">
                        {{ dir_item.size }}
                    </td>
                    <td>
                        <a href="{{ dir_item.download_url }}">Download</a>
                        <button hx-get="{{ dir_item.delete_url }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
